<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antonio.alphap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.example.antonio.alphap.AfterLogin" />
                <action android:name="com.example.antonio.alphap.login" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AfterLogin">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.AfterLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewPallet">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.NewPallet" />
                <action android:name="com.example.antonio.alphap.AfterLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ClosedPal">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.ClosedPal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Plank">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.Plank" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPlanksByPalletID">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.ViewPlanksByPalletID" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OpenPal">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.OpenPal" />
                <action android:name="com.example.antonio.alphap.AfterLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Plank2">
            <intent-filter>
                <action android:name="com.example.antonio.alphap.Plank2" />
                <action android:name="com.example.antonio.alphap.OpenPal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewDryPallet"></activity>
    </application>

</manifest>